<div ui-view>
	<div class="container">
		
	</div>


	<div class="panel  panel-primary">
		<div class="panel-heading  panel-primary">
			<h5>Information du compte</h5>
		</div>
		<div class="panel-body">
			<div>
				<label>Client:</label> <label th:text="${compte.client.name}"></label>

			</div>
			<label>Code:</label> <label th:text="${compte.codeCompte}">
			</label><br> <label>Solde:</label> <label th:text="${compte.solde}"></label><br>
			<label>Date creation:</label> <label th:text="${compte.dateCreation}"></label> <br>
			<div th:if="${compte.class.simpleName=='CompteCourant'}">
				<label>Decouvert:</label> <label th:text="${compte.decouvert}"></label>
			</div>
			<div th:if="${compte.class.simpleName=='CompteEpargne'}">
				<label>Epargne:</label> <label th:text="${compte.taux}"></label>
			</div>
		</div>
	</div>



</div>