<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content="{{ csrf_token() }}">

<title>Ma Banque</title>
<link rel=" stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

</head>


<body class="hold-transition sidebar-mini layout-fixed">
	<nav class="nav nav-pills spacer">
		<a class="nav-link active nav-item" th:href="@{/clients}">Clients</a>
		<a class="nav-link" th:href="@{/comptes}">Comptes</a> <a
			class="nav-link" th:href="@{/operations}">Operations</a> <label
			class="nav-link navbar-right">[[${#httpServletRequest.remoteUser}]]</label>
		<a class="nav-link navbar-right" th:href="@{/login?logout}"
			th:inline="text">Logout</a>
	</nav>
	<div class="container-fluid  spacer">
		<main layout:fragment="content"></main>
	</div>
	<footer class="main-footer">
		<div class="float-right d-none d-sm-block">
			<b>Version</b> 3.0.0-beta.1
		</div>
		<strong>Copyright &copy; 2014-2019.</strong> All rights reserved.
	</footer>
</body>
</html>